<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwj.zhuangwjutils">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- ******************** 二维码权限 begin ******************** -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- ================= 二维码权限 end ==================== -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ******************** 自动适配配置 begin ******************** -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- ================= 自动适配配置 end ==================== -->

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.network.NetMangerDemoActivity" />
        <activity android:name=".activity.customviewdemo.TitleViewDemoActivity" />
        <activity android:name=".activity.EncryptionDemoActivity" />
        <activity android:name=".activity.LoadMoreDemoActivity" />
        <activity android:name=".activity.customviewdemo.ListPopWindowDemoActivity" />
        <activity android:name=".activity.adapterdemo.CommonAdapterDemoActivity" />
        <activity android:name=".activity.adapterdemo.CommonSingleSelectionAdapterDemoActivity" />
        <activity android:name=".activity.customviewdemo.ProgressViewDemoActivity" />
        <activity android:name=".activity.customviewdemo.ClearWriteEditTextDemo" />
        <activity android:name=".activity.ImageBuilderDemoActivity" />
        <activity android:name=".activity.customviewdemo.CustomViewDemoActivity" />
        <activity android:name=".activity.customviewdemo.CenterPagerDemoActivity" />
        <activity android:name=".activity.customviewdemo.CenterPagerDemoActivity2" />
        <activity android:name=".activity.FileUtilsDemoActivity" />
        <activity android:name=".activity.customviewdemo.LimitInputTextActivity" />
        <activity android:name=".activity.customviewdemo.CustomToastActivity" />
        <activity android:name=".activity.qrcode.QRCodeDemoActivity"></activity>

        <activity android:name=".activity.qrcode.CaptureActivity"></activity>
    </application>

</manifest>